@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 90%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header, main, footer {
    flex-shrink: 0;
}

.area__nomes {
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    background: #D1891C;
}

.area__nomes span {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;  
    color: #333333;
}

.cabecalho {
    background-color: #00669F;
    width: 100%;
    height: 80px;    
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 7px rgb(0 0 0 / 25%);
   
}
  
.cabecalho__logo {
    display: flex;
    align-items: center
    
}
 
.cabecalho img {
    width: 30%;
    height: 90%
}

.cabecalho h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #F3F3F3;    
    
}


footer {
    background-color: #00669F;
    padding: 0 2%;
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    top: 100%;
}
  
footer span {
    color: #fff;
    flex-shrink: 0
}

/*começo de nova edição*/

.logo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5.32%;
    bottom: 0%;
}

.formulario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    gap: 15px;
    text-align: center;
    color: #333333;

}

.formulario form {
    width: 60%;
}

.formulario form div input{
    width: 100%;
    height: 50px;

}


