* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body{
  margin: 0 0 160px; /* altura do seu footer */
}

.area__desconto {
  background-color: #1CD1B0;
  height: 40px;
  padding: 5px;
}

.cabecalho {
  background-color: #00669F;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.cards {
  justify-content: center;
  gap: 2%;
  display: flex;
  flex-direction: row;
  margin: 5% 0;

}

.cards__card {
  position: relative;
  width: 350px;
  height: 600px;
  background: #F3F3F3;
  border-radius: 4%;
  border: 1px solid #000;


}

.card__img__top {
  width: 100%;
}
.button__like__img{
  position: absolute;
  top: 2%;
  left: 2%;
  height: 30px;
  height: 30px;
}
.card__icon {
  width: 100%;
  display: flex;
  transform: translate(0, -50%);
  justify-content: center;
}

.card__img__icon {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.cards__card__sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5% 5%;


}

.cards__card__sobre h2 {
  margin-top: -20%;
  margin-bottom: 10%;
  text-align: center;

}

.cards__card__sobre p {
  font-size: 18px;
  text-align: center;
}

.cards__card__area__btn {
  display: flex;
  justify-content: center;

}

.card__btn {
  display: flex;
  justify-content: center;

}

.card__btn a {
  text-decoration: none;
  background-color: #00669F;
  padding: 5%;
  color: #fff;
  margin: 5%;
}

footer {
  background-color: #00669F;
  padding: 0 2%;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

