@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300;400;700&family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}

body {
  margin: 0 0 160px;
  /* altura do seu footer */
}

.area__nomes {
  width: 100%;
  height: 4%;
  display: flex;
  align-items: center;
  background: #D1891C;
}

.area__nomes span {
  padding-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;

  color: #333333;
}

.cabecalho {
  background-color: #00669F;
  height: 10%;
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;

  box-shadow: 0px 10px 7px rgb(0 0 0 / 25%);
}

.cabecalho h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  color: #FFFFFF;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  flex-direction: row;
  margin: 5% 0;

}

.cards__card {
  position: relative;
  width: 350px;
  height: 600px;
  margin: 1%;
  background: #F3F3F3;
  border-radius: 4%;
  border: 1px solid #000;


}

.card__img__top {
  width: 100%;
}

.button__like__img {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 30px;
  height: 30px;
}

.card__icon {
  width: 100%;
  display: flex;
  transform: translate(0, -50%);
  justify-content: center;
}

.card__img__icon {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.cards__card__sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5% 5%;


}

.cards__card__sobre h2 {
  margin-top: -20%;
  margin-bottom: 10%;
  text-align: center;

}

.cards__card__sobre p {
  font-size: 1rem;
  text-align: center;
}

.cards__card__area__btn {
  display: flex;
  justify-content: center;

}

.card__btn {
  display: flex;
  justify-content: center;

}

.card__btn a {
  text-decoration: none;
  background-color: #00669F;
  padding: 5%;
  color: #fff;
  margin: 5%;
}

footer {
  background-color: #00669F;
  padding: 0 2%;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

@media (max-width: 460px) {

  /*mobile*/
  .cards__card {
    width: 60%;
  }
  .cards{
    gap: 10px;
  }
}

@media (min-width: 461px) and (max-width:768px){
  /*tablet*/
  .cards{
    gap: 10px;
  }

  .cards__card {
    width: 45%;

  }

}

